<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Магазин техники Cybermart">
    <title>Cybermart</title>
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about_company.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap">
    <link rel="icon" href="{% static 'main/icons/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="menu">
                    <div class="menu__left">
                        <nav class="menu__inner">
                            <ul class="menu-list__left">
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'about_company' %}">О компании</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'contacts' %}">Контакты</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'catalog' %}">Каталог</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__right">
                        <nav class="menu__inner">
                            <ul class="menu-list__right">
                                <li class="menu-list__item">
                                    <a class="menu-list__link number text-white">Звоните с 9:00 до
                                        21:00</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link menu-list__link_last text-white" href="tel:89999999999">
                                        +7 (999) 999-99-99
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="navbar">
                    <div class="header-bottom__inner">
                        <a class="logo" href="{% url 'index' %}" title="на главную">
                            <img class="logo__img" src="{% static 'main/icons/logo.svg' %}" title="#" alt="логотип">
                        </a>

                        <a class="logo-2" href="{% url 'index' %}" title="на главную">
                            <img class="logo-2__img" src="{% static 'main/icons/logo_2.svg' %}" title="#" alt="логотип 2">
                        </a>

                    </div>
                    <div class="search">
                        <input type="text" id="search__bar" placeholder="Поиск товаров">
                        <button type="submit" id="search__button">
                            <img src="{% static 'main/icons/search.svg' %}" alt="поиск">
                        </button>
                    </div>
                    <ul class="basket">
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </header>

    <section class="company-section">
        <div class="container">
            <h2 class="headline">Добро пожаловать на сайт интернет магазина Cybermart!</h2>

            <p class="description">
                С момента нашего основания, "CyberMart" уделяет особое внимание своей миссии – сделать технологии доступными каждому.
                Наша история началась как небольшой стартап, но наша приверженность качеству и инновациям помогла нам вырасти в одного
                из ведущих поставщиков технических решений в России.
            </p>

            <p class="description">
                С самого начала, мы ставили перед собой цель предложить широкий ассортимент продукции по низким ценам. Мы искали и
                разрабатывали пути сокращения издержек, чтобы передавать выгоды непосредственно вам, нашим клиентам. Наш путь к успеху
                включает в себя партнерство с ведущими производителями и непрерывное совершенствование процессов.
            </p>

            <h2 class="headline">Cybermart - это качественный сервис и индивидуальный подход к каждому клиенту</h2>

            <p class="description">
                Мы не гонимся за быстрой выгодой, поэтому результат нашей работы - сотни довольных клиентов, которые советуют нас своим
                друзьям и близким. Мы делаем всё, чтобы бренд Cybermart ассоциировался со словами "надёжность" и "качество".
                Мы тщательно отбираем товары, которые предлагаем своим покупателям. На витринах нашего магазина вы найдёте только самые
                лучшие и актуальные устройства и аксессуары различных производителей.
            </p>

            <h2 class="headline">Cybermart - это магазин техники с демократичными ценами</h2>

            <p class="description">
                Мы не гонимся за сиюминутной выгодой и ответственно относимся к выбору партнёров, поэтому цены на сайте весьма
                демократичны. Мы не идём на различные уловки, которыми пользуются наши конкуренты, не размещаем товары сомнительного
                качества и не навязываем дорогостоящие услуги и аксессуары. Цены, по которым продаются товары, позволяют предложить вам
                официальную и качественную продукцию, за которую мы ручаемся гарантией и своим именем.
            </p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="advantages">
                <div class="advantages__item">
                    <img src="{% static 'main/icons/best_prices.svg' %}" alt="">
                    <span class="advantages__name text_white">Лучшие цены</span>
                </div>
                <div class="advantages__item">
                    <img src="{% static 'main/icons/fast_delivery.svg' %}" alt="">
                    <span class="advantages__name text_white">Быстрая доставка</span>
                </div>
                <div class="advantages__item">
                    <img src="{% static 'main/icons/quality_control.svg' %}" alt="">
                    <span class="advantages__name text_white">Контроль качества</span>
                </div>
                <div class="advantages__item">
                    <img src="{% static 'main/icons/wide_range.svg' %}" alt="">
                    <span class="advantages__name text_white">Широкий ассортимент</span>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__left">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link logo" href="{% url 'index' %}" title="на главную">
                                <img class="logo__img logo__img-footer" src="{% static 'main/icons/logo.svg' %}" title="#"
                                    alt="логотип">
                            </a>

                            <a class="footer__link logo-2" href="{% url 'index' %}" title="на главную">
                                <img class="logo-2__img logo-2__img-footer" src="{% static 'main/icons/logo_2.svg' %}"
                                    title="#" alt="логотип 2">
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'about_company' %}">О компании</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'catalog' %}">Каталог</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__right">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <p class="footer__link_contacts text-white">Контакты</p>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link footer__link_last text-white" href="tel:89999999999">
                                +7 (999) 999-99-99
                            </a>
                            <img class="line__contacts" src="{% static 'main/icons/line_contacts.svg' %}">
                            <a class="footer__link footer__link_last text-white" href="tel:89999999999">
                                cybermart@gmail.com
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white"
                                href="https://yandex.ru/maps/192/vladimir/house/universitetskaya_ulitsa_4/YEkYdQFmTUAEQFtsfX1ydn5qYA==/?indoorLevel=1&ll=40.366453%2C56.137295&z=16.87">г.
                                Владимир, ул. Университетская, д. 4, к. 321</a>
                        </li>
                        <ul class="social__links">
                            <li class="social__item">
                                <a class="social__contacts" href="#" title="телеграм">
                                    <img class="social__img" src="{% static 'main/icons/telegram.svg' %}" title="#"
                                        alt="телеграм">
                                </a>
                            </li>
                            <li class="social__item">
                                <a class=" social__contacts" href="#" title="вконтакте">
                                    <img class="social__img" src="{% static 'main/icons/vk.svg' %}" title="#"
                                        alt="вконтакте">
                                </a>
                            </li>
                            <li class="social__item">
                                <a class=" social__contacts" href="#" title="ютуб">
                                    <img class="social__img" src="{% static 'main/icons/youtube.svg' %}" title="#"
                                        alt="ютуб">
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'main/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/js/index.js' %}"></script>
    <script src="{% static 'main/js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/smartbasket.min.css' %}">
    
    
    <div class="smart-basket__wrapper"></div>
    
    <script src="{% static 'main/js/smartbasket.min.js' %}"></script>
    
    <script>
        $(function () {
            $('.smart-basket__wrapper').smbasket({
                productElement: 'card',
                buttonAddToBasket: 'card__add',
                productPrice: 'product__price-number',
                productSize: 'product__size-element',

                productQuantityWrapper: 'product__quantity',
                smartBasketMinArea: 'basket',
                countryCode: '+7',
                smartBasketCurrency: '₽',
                smartBasketMinIconPath: "{% static 'main/icons/basket.svg' %}",

                agreement: {
                    isRequired: true,
                    isChecked: true,
                },
                nameIsRequired: false,
            });
        });
    </script>

</body>
</html>