<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Магазин техники Cybermart">
    <title>Cybermart</title>
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap">
    <link rel="icon" href="{% static 'main/icons/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="menu">
                    <div class="menu__left">
                        <nav class="menu__inner">
                            <ul class="menu-list__left">
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'about_company' %}">О компании</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'contacts' %}">Контакты</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link text-white" href="{% url 'catalog' %}">Каталог</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__right">
                        <nav class="menu__inner">
                            <ul class="menu-list__right">
                                <li class="menu-list__item">
                                    <a class="menu-list__link number text-white">Звоните с 9:00 до
                                        21:00</a>
                                </li>
                                <li class="menu-list__item">
                                    <a class="menu-list__link menu-list__link_last text-white" href="tel:89999999999">
                                        +7 (999) 999-99-99
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="navbar">
                    <div class="header-bottom__inner">
                        <a class="logo" href="{% url 'index' %}" title="на главную">
                            <img class="logo__img" src="{% static 'main/icons/logo.svg' %}" title="#" alt="логотип">
                        </a>

                        <a class="logo-2" href="{% url 'index' %}" title="на главную">
                            <img class="logo-2__img" src="{% static 'main/icons/logo_2.svg' %}" title="#" alt="логотип 2">
                        </a>

                    </div>
                    <div class="search">
                        <input type="text" id="search__bar" placeholder="Поиск товаров">
                        <button type="submit" id="search__button">
                            <img src="{% static 'main/icons/search.svg' %}" alt="поиск">
                        </button>
                    </div>
                    <ul class="basket">
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="contacts-section">
        <div class="container">
            <h1 class="headline">Контакты</h1>

            <p class="description">
                Друзья, мы работаем для вас ежедневно с 9:00 до 21:00.
                <br>
                В субботу, воскресенье, и в праздничные дни с 9:00 до 21:00.
                <br>
                График работы магазина: Ежедневно с 10:00 до 20:00.
                <br>
            </p>

            <p class="description">
                <b>Внимание:</b> при самовывозе необходимо заранее оформить заказ. Не забудьте связаться с нами перед
                приездом.
            </p>
            <br>

            <p class="description">
                Вы всегда сможете получить техническую поддержку и консультацию по ассортименту наших товаров следующими
                способами:
            </p>
            <br>

            <ul class="contacts-links">
                <li class="contacts-links__item">
                    Cделав заказ на нашем сайте в любой день недели и в любое время суток
                </li>
                <br>
                <li class="contacts-links__item">
                    По многоканальным телефонам во Владимире:
                </li>
                <ul class="contacts-links">
                    <li>
                        <a href="tel:89999999999">
                            <span class="contacts-links__text">
                                8 (999) 999-99-99
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:86666666666">
                            <span class="contacts-links__text">
                                8 (666) 666-66-66
                            </span>
                        </a>
                    </li>
                </ul>
  

                <li class="contacts-links__item">
                    Вы также можете связаться с нами с помощью мессенджеров и социальных сетей:
                </li>


                <ul class="contacts-links">
                    <li>
                        <a href="">
                            <span class="contacts-links__text">
                                Telegram
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="contacts-links__text">
                                VKontakte
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="contacts-links__text">
                                YouTube
                            </span>
                        </a>
                    </li>
                </ul>

                <li class="contacts-links__item">
                    Также вы можете связаться с нами по различным вопросам по email:
                </li>

                <ul class="contacts-links">
                    <li>
                        <a href="">
                            <span class="contacts-links__text">
                                cybermart@gmail.com
                            </span>
                        </a>
                    </li>
                </ul>
            </ul>


            <p class="description">
                Мы дорожим своей репутацией, поэтому если вдруг вы остались недовольны нашей работой, пожалуйста,
                позвоните по телефону
                8 (777) 777-77-77 и расскажите о проблеме - мы решим ее максимально быстро.
            </p>
            <br>

            <p class="description">
                Забрать заказанный товар вы можете в магазине Cybermart во Владимире, расположенном по адресу:
            </p>

            <p class="description description_last">
                <a href="">
                    <span class="contacts-links__text">
                        г. Владимир, ул. Университетская, д. 4, к. 321
                    </span>
                </a>
            </p>

            <div class="yandex-map">
                <a href="https://yandex.ru/maps/192/vladimir/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Владимир
                </a>
                <a class="yandex-map__link" href="https://yandex.ru/maps/192/vladimir/house/universitetskaya_ulitsa_4/YEkYdQFmTUAEQFtsfX1ydn5qYA==/inside/?from=mapframe&ll=40.366453%2C56.137295&tab=inside&utm_medium=mapframe&utm_source=maps&z=16">
                    Организации внутри: Владимир,
                    Университетская
                    улица, 4 — Яндекс Карты
                </a>

                <iframe class="yandex-map__frame"
                    src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=40.366453%2C56.137295&mode=whatshere&whatshere%5Bpoint%5D=40.366453%2C56.137294&whatshere%5Bzoom%5D=17&z=16"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
    </section>



    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__left">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link logo" href="{% url 'index' %}" title="на главную">
                                <img class="logo__img logo__img-footer" src="{% static 'main/icons/logo.svg' %}" title="#"
                                    alt="логотип">
                            </a>

                            <a class="footer__link logo-2" href="{% url 'index' %}" title="на главную">
                                <img class="logo-2__img logo-2__img-footer" src="{% static 'main/icons/logo_2.svg' %}"
                                    title="#" alt="логотип 2">
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'about_company' %}">О компании</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white" href="{% url 'catalog' %}">Каталог</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__right">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <p class="footer__link_contacts text-white">Контакты</p>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link footer__link_last text-white" href="tel:89999999999">
                                +7 (999) 999-99-99
                            </a>
                            <img class="line__contacts" src="{% static 'main/icons/line_contacts.svg' %}">
                            <a class="footer__link footer__link_last text-white" href="tel:89999999999">
                                cybermart@gmail.com
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link text-white"
                                href="https://yandex.ru/maps/192/vladimir/house/universitetskaya_ulitsa_4/YEkYdQFmTUAEQFtsfX1ydn5qYA==/?indoorLevel=1&ll=40.366453%2C56.137295&z=16.87">г.
                                Владимир, ул. Университетская, д. 4, к. 321</a>
                        </li>
                        <ul class="social__links">
                            <li class="social__item">
                                <a class="social__contacts" href="#" title="телеграм">
                                    <img class="social__img" src="{% static 'main/icons/telegram.svg' %}" title="#"
                                        alt="телеграм">
                                </a>
                            </li>
                            <li class="social__item">
                                <a class=" social__contacts" href="#" title="вконтакте">
                                    <img class="social__img" src="{% static 'main/icons/vk.svg' %}" title="#"
                                        alt="вконтакте">
                                </a>
                            </li>
                            <li class="social__item">
                                <a class=" social__contacts" href="#" title="ютуб">
                                    <img class="social__img" src="{% static 'main/icons/youtube.svg' %}" title="#"
                                        alt="ютуб">
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'main/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/js/index.js' %}"></script>
    <script src="{% static 'main/js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/smartbasket.min.css' %}">
    
    
    <div class="smart-basket__wrapper"></div>
    
    <script src="{% static 'main/js/smartbasket.min.js' %}"></script>
    
    <script>
        $(function () {
            $('.smart-basket__wrapper').smbasket({
                productElement: 'card',
                buttonAddToBasket: 'card__add',
                productPrice: 'product__price-number',
                productSize: 'product__size-element',

                productQuantityWrapper: 'product__quantity',
                smartBasketMinArea: 'basket',
                countryCode: '+7',
                smartBasketCurrency: '₽',
                smartBasketMinIconPath: "{% static 'main/icons/basket.svg' %}",

                agreement: {
                    isRequired: true,
                    isChecked: true,
                },
                nameIsRequired: false,
            });
        });
    </script>
    
</body>

</html>